* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: grey;
}

body {
    font-family: arial,sans-serif;
}

/* Header */

.header {
    height: 8vh;
}

.nav {
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;
}

.nav ul li{
    display: inline-block;
    margin: 0 8px 0 8px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.nav ul li a:hover {
    text-decoration: underline black;
}

.nav ul li:last-child {
    padding-right: 10px;
}

.nav ul li a img {
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    opacity: 0.6;
}

.nav ul li button {
    color: white;
    font-size: 15px;
    background-color: #1a73e8;
    border: none;
    width: 132px;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
}

.nav ul li button:hover {
    box-shadow: inset 0px 0px 4px white;
    box-shadow: 0px 0px 4px rgb(151, 151, 151);
}

/* Main */ 

.main {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Container */ 

.container {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Logo */

.section-1 {
    height: 30%;
}

.section-1 img {
    width: 272px;
    height: 92px;
    position: relative;
    top: 50%;
}
/* Form */
.form {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin-top: 35px;
    width: 600px;
    border: 1px solid #c9c9c9;
    border-radius: 100px;
    height: 2.8em;
}

.form input {
    height: 1.8rem;
    outline: none;
    font-size: 16px;
    border: none;
    width: 100%;
    padding: 0 5px 0 5px;
}

.input {
    display: flex;
    align-self: center;
}

.form input:focus {
    border-right: 1px solid #c9c9c9;
}

.form:hover {
    box-shadow: 0px 0px 8px #c9c9c9;
}

/* Iconos input */

.mic-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic-icon img {
    width: 25px;
    height: 25px;
}

.search-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon img {
    width: 15px;
    height: 15px;
    opacity: 0.4;
}

.section-2 {
    margin: 25px;
}

.section-2 button {
    background-color: #f8f9fa;
    border: none;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.section-2 button:hover {
    box-shadow: 0px 0px 3px grey;
}

.section-3 {
    flex-grow: 1;
}
.section-3 p{
    font-size: 13px;
}

.section-3 span a{
    color: blue;
    text-decoration: none;
}

.section-3 span a:hover {
    text-decoration: underline blue;
}  

/* Footer */

.footer {
    height: 12vh;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

.pais {
    display: flex;
    height: 50%;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding: 0 30px 0 30px;
    font-size: 15px;
    color: grey;
}

.info {
    display: flex;
    align-items: center;
    height: 50%;
}

.info ul li {
    display: inline-block;
    padding: 0 20px 0 0px;
    font-size: 15px;
    color: grey;
}

.info ul li:first-child {
    padding-left: 35px;
}

.info ul li:last-child {
    padding-right: 35px;
}

.nav-2{
    display: flex;
    flex-grow: 1;
    justify-content: right;
}

.info ul li a:hover {
    text-decoration: underline grey;
}
